/* Style.css */
body {
  font-family: "Poppins", sans-serif;
  margin: 100;
  padding: 100;
  /* background-color: #100707d6; */
  border-radius: 1.5%;
  border-color: black;
  background-image: url('bk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

label {
  font-weight: bold;
  color: #d3dce1;
}

.code-section {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 200px;
  padding-left: 150px;
  margin-bottom: 200px;
}

#htmlCode,
#cssCode {
  background-color: #fff;
}

.code {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: none;
  resize: none;
  font-family: "Courier New",
      monospace;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  align-items: center;
}

#downloadButton {
  text-decoration: none;
  background-color: #007acc;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
}

iframe {
  width: 100%;
  height: calc(100% - 320px);
  border: none;
}

#htmlCode::placeholder,
#cssCode::placeholder,
#jsCode::placeholder {
  color: hsl(113, 100%, 49%);
}

/* Styles for responsive UI */
@media (max-width: 768px) {
  .code-section {
      width: 100%;
      margin: 10px 0;
  }
  .code {
      width: 100%;
  }
}

/* Style for scrollable output box */
#output {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; 
  max-height: 300px; 
  padding-right: 100px;
}

/* Styles for dropdown */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Courier New", monospace;
}

/* Hide sections by default */
#htmlSection,
#cssSection,
#jsSection {
  display: none;
}

/* Styles for registration page */
#register {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background : linergradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#register h2 {
  text-align: center;
  margin-bottom: 20px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  color: black;
}

#registerForm label {
  margin-bottom: 5px;
}

#registerForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.password{
  color: black;
}
.user{
  color: black;
}

#registerForm button {
  padding: 10px;
  background-color: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
